#tweet-field {
  height: 50px;
  width: 100%;
  resize: none;
  border: transparent;
  border-bottom: solid;
  background-color: #f4f1ec;
}

#tweet-field:focus {
  outline: none;
}

.tweet-button {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
  padding-top: 7px;
}

[type="submit"] {
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee";
  border: none;
}

[type="submit"]:hover {
  box-shadow: 6px 6px 6px 6px #777;
}

article {
  margin-top: 60px;
  margin-bottom: 60px;
  border-style: solid;
  border-width: 5px;
  height: 300px;
}

article:hover {
  box-shadow: 0 0 11px;
}

article header {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 80px;
  padding: 1em;
}

footer {
  font-size: 0.65em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  padding-left: 1.5em;
  height: 50px;
}

.quote {
  text-align: left;
  overflow-wrap: break-word;
  font-weight: bold;
  margin: auto;
  width: 95%;
  padding-bottom: 2em;
  padding-top: 60px;
  padding-left: 0.8em;
  border-bottom: 3px solid #1c1717;
}

#icons {
  display: flex;
  flex-direction: row;
  padding-right: 5em;
}

.fa-solid:hover {
  color: rgb(22, 162, 29);
}

.error-message {
  color: #f90404;
  border-style: solid;
  border-width: 0.2em;
  border-color: red;
  text-align: center;
  height: 2.5em;
  margin: 20px;
  padding: 10px;
}
